<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat Application</title>
    <style>
        /* Your CSS styles here */
        #chat-box {
            /* Your styles for the chat box */
            height: 300px;
            overflow-y: scroll;
        }
    </style>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
</head>
<body>
    <div id="chat-box"></div>
    <input type="text" id="message" placeholder="Type your message">
    <button id="sendButton">Send</button>

    <!-- Link your external JavaScript file -->
    <script src="static/script.js"></script>
</body>
</html>



