<!DOCTYPE html>
<html lang="en">

<head>
    <title id="pageTitle">Chat</title>
    <link rel="icon" href="assets/favico.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400|Roboto:300,400,700">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/Black-Navbar.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Basic-icons.css">
    <link rel="stylesheet" href="assets/css/Ludens-Users---1-Login.css">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="chat" content="Flask Chat App">
    <meta name="description" content="Connect with others through our Flask-based chat web app. Real-time messaging and a user-friendly interface for seamless communication.">
    <meta name="keywords" content="Flask, web app, chat, real-time messaging, communication">
    <meta name="author" content="mehdi">


</head>

<body>
    <section class="login-clean" style="background-color: transparent;font-family: Poppins, sans-serif;">
      <form method="post" style="margin-top: 40px;" action="{{ url_for('auth.register') }}" method="POST">
            <h2 class="visually-hidden">Login Form</h2>
            <div class="illustration"><i class="icon ion-chatboxes" style="color: #00b5a8;"></i></div><a class="forgot" href="{{ url_for('auth.login') }}">Have an account?</a>
            <div class="form-group mb-3"><input class="form-control" type="text" name="username" placeholder="Enter your name"></div>
            <div class="form-group mb-3"><input class="form-control" type="password" name="password" placeholder="Password"></div>
            <div class="form-group mb-3"><button class="btn btn-primary d-block w-100" type="submit" style="background-color: #00b5a8;">Sign up</button></div><a class="forgot" href="#">Continue as guest</a>
        </form>
    </section>
    <p></p>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
